@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

/* Colour palette */
:root {
  --dark: #222831;
  --grey: #393E46;
  --blue: rgb(35, 79, 187);
  --lightblue: #00ADB5;
  --white: #EEEEEE;
  --red : rgb(185, 46, 52);
  --orange : #ffa500;
}
/* --------------------------------------- */
.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  z-index : -1;
  
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #234FBB, #00ADB5
    );
}
/* --------------------------------------- */

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter.ttc);
}

@font-face {
  font-family: 'Montserrat-Regular-400';
  src: url();
}

/* Section styling */
.Section {
  margin-left: 10%;
  margin-right: 10%;
}

.section-description{
  font-size: 1.75rem;
  font-family: 'Inter';
}

/* adding psedo element for udnerline */
/* ------------------------------------------------------------------------------------------------------ */
.heading {
  font-size: 6rem;
  font-family: 'Inter', sans-serif;
  opacity: 100;
  background: linear-gradient(90deg, rgba(36, 76, 186, 1) 0%, rgba(34, 40, 49, 1) 50%, rgba(57, 62, 70, 1) 100%);
  margin-bottom: 0;
  color: transparent;
  background-clip: text;
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

/* Adding pseudo element for underline */
.heading-div {
  position: relative;
  display: inline-block;
}

.heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust this value to bring the underline closer */
  width: 160%; /* Change this to 100% for a better fit */
  height: 7px; /* Adjust the height as needed */
  background: linear-gradient(to right, rgba(36, 76, 186, 1), rgba(36, 76, 186, 0) 100%); /* Fading effect */
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s; /* Adjust the duration for the scale transition */
}

.heading-div:hover .heading::after {
  transform: scaleX(0);
}

/* Add your gradient animation keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------------------------------------------------------------------------------------------------ */

p{
  font-family: 'Inter';
  font-weight: 400;
  color: var(--dark);
  font-size: 2.2rem;
}


/* ----------------------------------------------------------------------------------------------- */
/* About Image tilting  Styling */
/* ----------------------------------------------------------------------------------------------- */
.tilt {
  transition: transform 0.2s ease; /* Smooth transition */
}


/* ----------------------------------------------------------------------------------------------- */
/* skills  Styling */
/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------- */
/*  typewriter effect  Styling */
/* ----------------------------------------------------------------------------------------------- */

.type-writer {
  border-right: 0.15em solid orange;  
  animation: blink-caret 0.1s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Glow of skills section */
/* Container for the rows */
.Section .section-description .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Column styling */
.Section .section-description .column {
  flex: 1;
  margin: 0 10px;
}

/* Ensure that lists in columns are styled properly */
.Section .section-description ul {
  list-style: none;
  padding: 0;
}

.Section .section-description li {
  margin-bottom: 10px;
}

.Section .section-description i {
  margin-right: 10px;
}



/* ----------------------------------------------------------------------------------------------- */
/* skills  Styling */
/* ----------------------------------------------------------------------------------------------- */

#skills h2 {
  color: var(--dark);
  font-family: Inter, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

#skills li{
  color: var(--dark);
  font-family: 'Inter';
  font-weight: 400;
}



#about{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width:1000px){
  #about-photo{
    min-width: 350px;
    margin-left: 100px;
  }
}

@media (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
}


/* ----------------------------------------------------------------------------------------------- */
/* Skills  Styling */
/* ----------------------------------------------------------------------------------------------- */

.type-writer {
  color: var(--dark);
  font-family: Inter, sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.dynamic-text {
  border-right: 0.15em solid transparent;
  transition: border-right-color 0.1s;
}

.dynamic-text:hover {
  border-right-color: orange;
}

#skills ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* Projects Section */
#projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width : 880px) {
  #projects-container{
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

/* ----------------------------------------------------------------------------------------------- */
/* Project  Styling */
/* ----------------------------------------------------------------------------------------------- */
.project-photo {
  margin: 0;
  padding: 12px;
  width: 376px;
  height: 235px;
}

.project-photo img {
  border-radius: 8px;
  opacity: 0.8;
  transition: opacity 0.8s ease;
}

.project-photo img:hover {
  opacity: 1;
}

.project-tile {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 10px;
  border: 3px solid var(--blue); /* Blue border */
  border-radius: 4px;
  padding: 10px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
.project-tile:hover {
  border-color: var(--lightblue); /* Blue border on hover */
  box-shadow: 0 0 15px var(--blue); /* Blue shadow on hover */
}

.project-details {
  padding: 10px;
}

.project-details h2{
  font-size: 2rem;
}
.project-details p{
  font-size: 1.2rem;
}

.github-link{
  align-items: flex-end;
}

img {
  display: block;
  width: 100%;
}

.project-photo img {
  border-radius: 10px;
}
.project-tech ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.project-tech li {
  background-color: var(--blue); /* Blue background */
  color: var(--white); /* White text */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: box-shadow 0.1s ease; /* Transition for box-shadow */
}

.project-tech li:hover {
  box-shadow: 0 0 10px var(--lightblue); /* Glow effect on hover */
}

.github-link a {
  color: var(--dark);
  transition: color 0.5s ease;
}

.github-link a:hover {
  color: var(--blue);
}
/* ----------------------------------------------------------------------------------------------- */
/* Sticky Header Styling */
/* ----------------------------------------------------------------------------------------------- */
#section-header {
  position: sticky;
  top: 0;
  background-color: var(--blue); /* White background */
  border-bottom: 4px solid var(--lightblue); /* Blue border */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  text-align: center;
  color: var(--white);
  font-size: 3rem;    
  font-family: Inter;
  font-weight: 800;
  z-index: 1;
}

/* ----------------------------------------------------------------------------------------------- */
/* Contact Form Styling */
/* ----------------------------------------------------------------------------------------------- */
#contact-form {
  margin-left: 10px;
  max-width: 600px;
  min-width: 200px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Inter';
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #004c9e;
}

/* Footer */
/* ----------------------------------------------------------------------------------------------- */
.footer {
  background: #1488CC;
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  background: linear-gradient(to right, #2B32B2, #1488CC);
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.footer .love {
  color: red;
}

.footer a {
  text-decoration: none;
  margin: 0;
  color: #fff;
}
/* ----------------------------------------------------------------------------------------------- */

